@charset "UTF-8";


.title {width:865px; height:80px; position:relative; margin:0 auto; margin-bottom:0; 
border-bottom:3px solid #3a3125; color:#865009; font-size:120%; font-weight:bold; line-height:600%;}

.view{width:600px; height:250px; position: relative; margin:100px auto; background:#F1EBD6;}

.box1{width:410px; height:60px; position: relative; margin-top:80px; margin-left:100px; margin-bottom:20px; float:left;}
.input{width:290px; height:60px; position:relative; margin:0; float:left; color:#727272; }
#idPwd{width:280px; height:25px; margin-top:0px; margin-bottom:5px; position: relative; background:white; border:0; padding-left:10px;}
#login{width:105px; height:60px; float:right; position:relative; background: wheat;  border:0px solid white; background:#3a3125; color:#F1EBD6; margin:0;}

#box2{width:410px; height:25px; position:absolute; margin-left:160px; margin-bottom:0px;}
.button{width:190px; height:25px; margin-left:5px; margin-right:5px; float:left; 
position: relative; background:#9F876B; border:0; color:#F1EBD6;}

.footer{
	margin-top: 100px;
}
.header{
	height: 200px;
}