@charset "UTF-8";

/* #test{width:900px; height:20px; background:blue; float:right;} */
.rightarticle {border:1px solid black; /* float:right; */ /* width:900px; */
	 /* margin-right:100px; */ margin:0 auto;}
article {/* border:1px solid red; padding-right:60px; float:right; width:900px; */}

/*서브메뉴*/
#sub_menu{width:250px; float:left;  min-height: 300px; margin : 20px 60px;
	/* background:yellowgreen; */ background:#faf1d0;}
#sub_menu ul{list-style:none; padding:0;}
#sub_menu ul li{margin:25px 15px; /* background:gray; */ text-align:center; width:220px;
	 height:50px; line-height:50px; /* width:250px; */}
#tab{font-size:200%; width:230px; /* width:250px; */ color:#3a3125;
	border-bottom:7px solid #3a3125; margin:0 10px;}
#sub_menu a{text-decoration:none; color:black; font-size:135%;
	font-weight:bold; letter-spacing:3px; color:#3a3125;}
#sub_menu a:hover{font-weight:bold; font-size:135%; color:#9f876b;}




/*개요*/
#abox{/* position:absolute; */width:865px;  min-height:400px; float:left;
	 /* margin:0 30px 0 30px; *//* left:430px; */margin-top:20px;
	 padding-bottom:50px;/* background:lime; */}
#sum{position:relative;width:865px;  height:64px; border-bottom:6px solid #3a3125; 
	font-size:170%; line-height:64px;/* background:aqua; */ color:#9f876b;}
	
	
.box{width:865px;  margin:20px 0; /* background:olive; */}
.subject{width:845px;font-size:200%;  height: 55px; line-height:55px;
	padding:0 10px; /* background:teal; */ color:#3a3125;}
.text{width:845px; font-size:110%; padding:10px; /* background:silver; */}
#img{height:200px; background-image:url('../images/hotel_sum.jpg');
	 background-position:center center; overflow:hidden;}






/*호텔 소개*/
#sbox{/* position:absolute; */width:865px;  /* height:1000px; */ float:left; 
	/* margin: 0 20px 0 20px; */ /* left:430px; */ margin-top:20px;
	min-height:296px; /* background:lime; */}
#simg{position:relative;height:500px; background-image:url('../images/hotel_seoul.jpg');
	background-position:left center; overflow:hidden; background-size:865px;}
#box2{position:relative;border:5px solid beige; width:855px; height:340px;}
#libox{position:relative;width:367.5px; height:300px; 
	margin:20px 30px; float:left; 
	/* background-color:purple; */}
#box3{position:relative;width:865px;  height:198px; border-top:1px solid gray;
	 border-bottom:1px solid gray;/* height: 총 200px; */
	 /* background:orange; */}

.sub{position:relative;width : 350px; height: 45px;  margin:10px auto; font-size:180%;
	line-height:45px;
	/* background:fuchsia; */ color:#3a3125;}
.txt{position:relative;width:350px; height:225px; margin:10px auto;
	/*  background:green; */ color:#865009;}

#box3 ul{position:relative;list-style:none;  padding:0; margin:50px 5px;
	 left:262.5px; /* background:blue; */}
#box3 ul li{position:relative;  text-align:left; height:20px; top:20px;}
#name{width:80px; height:100px; float:left; font-size:90%; font-weight:bold; color:#9f876b; 
	/* background:gray; */}
#content{width:240px; height:100px; float:left; font-size:90%; font-weight:bold; color:#3a3125;}




/*연락처*/
#cont_table{margin:10px auto;}
.cont_name{font-size:95%; font-weight:bold; color:#865009;}
.cont_cont{font-weight:bold; font-size:95%; color:#9f867b;}




/* qna*/
#qnawrite{position:relative; width:865px; border-top:2px solid red; 
	border-bottom:2px solid red; height:165px;}
.qnabox{width:865px; margin:0; padding:0;}
#qnabox1{height:40px; border-bottom:2px solid gray;}
#qnabox2{height:70px;}
.qnasub{width:120px; float:left; font-weight:bold; border-right:1px solid gray;
 padding-left:9px; background:fuchsia; /* width:130px; */}
#qnasub1{height:40px; line-height:40px;}
#qnasub2{height:125px; line-height:125px;}
.qnacon{width:715px; float:left; padding-left:10px;}
#qnacon1{height:40px; line-height:40px;}
#qnacon2{height:125px; line-height:125px;}
#buttons{margin:0 auto; /* background:black; */ text-align:center; height:45px;}
.btn{width:90px; height:45px; background:#f2efeb; font-weight:bold; color:#865009;
	border:none;}






/* book check*/
.bbox{position:relative;width:600px; /* background:lime; */
	 margin-top: 20px; float:left; margin-left:120px;
	min-height:296px; background:#FFFFE9;}
#bboxb{position:relative; width:600px; min-height:500px;/*  background:fuchsia; */
	padding-bottom:15px; float:left;}
#bcheck{position:relative; width:594px; min-height:65px;  margin:0 auto;
	border-bottom:5px solid #9f876b; font-size:150%; font-weight:bold; line-height:65px;
	letter-spacing:1px; padding:3px 0; /* width:600px; height:70px; */
	/* background:olive; */ background:#faf1d0;}
#bigctextbox{position:relative; width:498px; min-height:348px; /* background:white; */ margin:40px auto;
	border:1px solid #9f876b;/* width:500px; height:350px; */ }
.smallctextbox{position:relative; width:498px; margin:0 auto; /* background:orange; */
	 min-height:49px;/* width:400px; height:50px;  */ border-bottom:1px solid #9f876b;}
.smmalctextbox:last-child {
	border-bottom:0px;
}
.ctextsub{width:98px; min-height:49px; /* background:gray; */ background:#f1ebd6; 
	font-weight:bold; line-height:49px; float:left;}
.ctexttext{ width:392px; min-height:49px; line-height:49px; float:left;
	padding:0 4px; /* width:400px; *//*  background:green; */
	background:#FFFFff; color:#3a3125;}
	
	
	
	
	
	
/* book check list */
#chklisttxt{color:#9f876b; padding:5px;}
#chklistbox{position:relative; width:861px; min-height:296px; border:2px solid #f1ebd6;
	/* width:865px; min-height:300px; */}
#chkselectbox{position:relative; width:820px; min-height:60px; /* background:olive; */
	margin:30px auto; text-align:left; background:#9f876b; line-height:30px;}
#chklistbox2{position:relative; width:820px; min-height:150px; /* background:orange; */
	margin:20px auto;}
#chklistlist{position:relative; width:820px; font-size:120%; font-weight:bold;
	 border-bottom:4px solid #9f876b; padding-top:5px; padding-bottom:5px;
	 background:#f1ebd6;}
#chklistbox3{position:relative; width:820px; min-height:82px; /* background:fuchsia; */ 
	margin-top:5px;}
#chklisttitle{position:relative; width:820px; min-height:46px; /* background:skyblue; */
	border-top:2px solid #9f876b; border-bottom:2px solid #9f876b;/* height:50px; */
	background:#f1ebd6;}

#chklisttitle2{position:relative; min-height:46px; line-height:46px; text-align:center;
	font-weight:bold;}
.booknumclass{position:relative; float:left; width:120px; /* background:red; */}
.kindclass{position:relative; float:left; width:200px; /* background:blue; */}
.usernumclass{position:relative; float:left; width:60px; /* background:maroon; */}
.checkinoutclass{position:relative; float:left; width:240px; /* background:silver; */}
.bookresultclass{position:relative; float:left; width:100px; /* background:teal; */}
.bookpriceclass{position:relative; float:left; width:100px; /* background:white; */}

#chklistcontent{position:relative; border-bottom:2px solid #9f876b; width:820px; 
	height:30px; /* background:yellow; */}
#chklistcontent2{position:relative; height:30px; text-align:center; line-height:30px;}
.chkselect{font-size:90%; font-weight:bold; color:#3a3125;}




/* book cancel list page */
#chkselectboxyj2{position:relative; width:820px; min-height:60px; background:olive;
	margin:30px auto; text-align:center; line-height:60px;}
	
	
	
	

